# Train the model

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
import pickle, os

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.svm import *

In [2]:
df = pd.read_csv('dataset/csv/ds_cctv_v1.csv')

In [3]:
df.head(3)

,class,x1,y1,z1,v1,x2,y2,z2,v2,x3,...,y74,z74,v74,x75,y75,z75,v75,face_d15,face_s15,hand_s15
0,Nutup Muka,0.469739,0.578589,-0.127777,0.993265,0.440848,0.569411,-0.112306,0.994901,0.439771,...,0.711073,-0.029289,0.473242,0.495799,0.711073,-0.029289,0.473242,0.0,1.0,1.0
1,Nutup Muka,0.445407,0.614889,0.017926,0.995142,0.429321,0.619205,-0.039531,0.995156,0.433832,...,0.570589,0.175774,0.242573,0.472730,0.570589,0.175774,0.242573,0.0,0.0,0.0
2,Nutup Muka,0.445444,0.615121,-0.014786,0.997897,0.430551,0.620001,-0.072877,0.998852,0.432003,...,0.573695,0.211646,0.227217,0.469184,0.573695,0.211646,0.227217,0.0,0.0,0.0

In [4]:
df['class'].value_counts()

class
Nutup Muka    30
Diam          30
Celinguk      30
Name: count, dtype: int64

In [5]:
X = df.drop('class', axis=1) # features
y = df['class'] # target value

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=1234)

print(f"Train set size: {X_train.shape[0]}")
print(f"Test set size: {X_test.shape[0]}")

Train set size: 76
Test set size: 14

In [6]:
y_test

36          Diam
59          Diam
65      Celinguk
45          Diam
60      Celinguk
84      Celinguk
72      Celinguk
68      Celinguk
9     Nutup Muka
74      Celinguk
29    Nutup Muka
82      Celinguk
44          Diam
10    Nutup Muka
Name: class, dtype: object

In [7]:
model = make_pipeline(StandardScaler(), SVC(probability=True)).fit(X_train, y_train)
y_probs = model.predict_proba(X_train)

In [12]:
version = 4
path = f'../Model/'
os.makedirs(os.path.dirname(path), exist_ok=True)

with open(f'{path}/v{version}_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [13]:
y_pred = model.predict(X_train)

In [14]:
y_pred

array(['Diam', 'Diam', 'Celinguk', 'Diam', 'Nutup Muka', 'Diam',
       'Celinguk', 'Nutup Muka', 'Celinguk', 'Diam', 'Celinguk', 'Diam',
       'Celinguk', 'Diam', 'Nutup Muka', 'Nutup Muka', 'Diam', 'Celinguk',
       'Celinguk', 'Celinguk', 'Nutup Muka', 'Nutup Muka', 'Nutup Muka',
       'Nutup Muka', 'Nutup Muka', 'Nutup Muka', 'Diam', 'Celinguk',
       'Diam', 'Celinguk', 'Celinguk', 'Diam', 'Nutup Muka', 'Diam',
       'Diam', 'Nutup Muka', 'Diam', 'Diam', 'Diam', 'Nutup Muka',
       'Celinguk', 'Nutup Muka', 'Nutup Muka', 'Celinguk', 'Diam',
       'Celinguk', 'Celinguk', 'Nutup Muka', 'Nutup Muka', 'Celinguk',
       'Celinguk', 'Celinguk', 'Nutup Muka', 'Celinguk', 'Celinguk',
       'Diam', 'Diam', 'Diam', 'Celinguk', 'Celinguk', 'Celinguk', 'Diam',
       'Celinguk', 'Celinguk', 'Diam', 'Diam', 'Nutup Muka', 'Celinguk',
       'Diam', 'Celinguk', 'Nutup Muka', 'Celinguk', 'Diam', 'Diam',
       'Celinguk', 'Diam'], dtype=object)

In [15]:
# Set the threshold for positive detection
threshold = 0.75

# Get the predicted probabilities for the test set
y_pred_proba = model.predict_proba(X_test)[:, 1]

# Apply the threshold to get binary predictions
y_pred = (y_pred_proba >= threshold).astype(int)

# Convert y_test to binary format (1 for positive class, 0 for negative class)
y_test_binary = (y_test == 'positive_class').astype(int)  # Replace 'positive_class' with the actual positive class label


# Generate confusion matrix
cm = confusion_matrix(y_test_binary, y_pred)
TN, FP, FN, TP = cm.ravel()

print("True Positive (TP):", TP)
print("False Positive (FP):", FP)
print("True Negative (TN):", TN)
print("False Negative (FN):", FN)

True Positive (TP): 0
False Positive (FP): 3
True Negative (TN): 11
False Negative (FN): 0